.card {
  border-radius: 12px;
  background-color: beige;
}

.post .card:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-link {
  color: brown;
  font-size: 24px;
  text-decoration: none;
}

.card-link:hover {
  color: red;
}

nav .navbar-nav li a {
  border-radius: 10%;
}

nav .navbar-nav li a:hover {
  background-color: brown;
}


.toc ul {
  padding-left: 1.5rem;
}

.toc ul li a {
  text-decoration: none;
  color: dimgray;
}

.toc ul li a:hover {
  color: black;
}


table {
  padding: 0;
  width: 100%;
}

table thead tr {
  background-color: lemonchiffon;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: beige;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: lemonchiffon;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}